<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%- include('templates/header') %>
    </head>
    <body>
        <div>
            <%- include('templates/bannerp') %>
        </div>
        <div>
            <%- include(content) %>
        </div>
    </body>
</html>