<div class="container">
    <div>
        <h1>MAPA</h1>
        <br />
        <h4>ASIGNAR MAPA AL PACIENTE: <%= paciente.nombre %> <%= paciente.apellido_pat %> <%= paciente.apellido_mat %></h4>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Paciente..." aria-label="Search">
            <button class="btn btn-primary" type="submit"><a href="/medicoMapaBuscar">Buscar</a></button>
        </form>
        <br />
        <div class="row">
            <div class="col">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>
                                Fecha y hora
                            </th>
                            <th>
                                Observación
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="col">
                <form method="POST" action="/agregarMapa">
                    <div class="form-group">
                        <label for="txtFechaMapa">Fecha y hora: </label>
                        <input type="datetime-local" class="form-control" name="fechaMapa" id="txtFechaMapa" />
                    </div>
                    <div class="form-group">
                        <label for="txtOb">Observaciones: </label>
                        <input type="text" class="form-control" name="obMapa" id="txtOb" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="Agregar" />
                    </div>
                </form>
            </div>
          </div>
    </div>
</div>