<div class="container">
    <div>
        <h1>MAPA</h1>
        <br />
        <h4>ASIGNAR MAPA AL PACIENTE: </h4>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Paciente..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
        <div class="row">
            <div class="col">
              Primera columna
            </div>
            <div class="col">
              Segunda columna
            </div>
          </div>
    </div>
</div>