<div class="container">
    <div>
        <h1>MAPA</h1>
        <br />
        <h4>ASIGNAR MAPA AL PACIENTE: </h4>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Paciente..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
        <br />
        <form>
            <div class="form-group">
                <label class="form-control" for="datetimepicker-default">Seleccione la fecha y hora</label>
                <input type="text" id="datetimepicker-default" class="form-control" />
            </div>
            <div class="form-group">
                <label class="form-control" for="datetimepicker-default">Seleccione la fecha y hora</label>
                <input type="datetime" id="datetimepicker-default" class="form-control" />
            </div>
            <div class="form-group">
                <label for="timee" class="form-control" >Seleccione la fecha y hora</label>
                <input type="datetime"  class="form-control" id="timee" />
            </div>
        </form>
        <div class="row">
            <div class="col">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th>
                                Fecha y hora
                            </th>
                            <th>
                                Observación
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="col">
                
            </div>
          </div>
    </div>
</div>