<div class="container mt-3">
    <div id="tabs-form">
        <ul>
          <li><a href="#tabs-1">PASO 1</a></li>
          <li><a href="#tabs-2">PASO 2</a></li>
          <li><a href="#tabs-3">PASO 3</a></li>
        </ul>
        <form method="POST" action="/ingresarDatosP" >
            <div id="tabs-1">
                <div class="form-group">
                    <h2>DURANTE LA DIÁLISIS</h2>
                    <div class="form-group">
                        <label for="rbdCabeza1">Dolor de cabeza: </label>
                        <label><input class="rb" type="radio" name="dCabeza1" id="rbdCabeza1" value="si"> Si</label>
                        <label><input class="rb" type="radio" name="dCabeza1" id="rbdCabeza1" value="no"> No</label>
                    </div>
                    <div class="form-group">
                        <label for="rbFrio">Frio</label>
                        <label><input type="radio" class="rb" name="frio" id="rbFrio" value="Si" />Si</label>
                        <label><input type="radio" class="rb" name="frio" id="rbFrio" value="No" />No</label>
                    </div>
                    <div class="form-group">
                        <label for="rbNauseas1">Nauseas</label>
                        <input type="radio" class="rb" name="nauseas1" id="rbNauseas1" value="Si" />Si
                        <input type="radio" class="rb" name="nauseas1" id="rbNauseas1" value="No" />No
                    </div>
                    <div class="form-group">
                        <label for="rbCalambres1">Calambres musculares</label>
                        <input type="radio" class="rb" name="calambres1" id="rbCalambres1" value="Si" />Si
                        <input type="radio" class="rb" name="calambres1" id="rbCalambres1" value="No" />No
                    </div>
                    <div class="form-group">
                        <label for="rbPicor1">Picor/escozor</label>
                        <input type="radio" class="rb" name="picor1" id="rbPicor1" value="Si" />Si
                        <input type="radio" class="rb" name="picor1" id="rbPicor1" value="No" />No
                    </div>
                    <div class="form-group">
                        <a  class="btn btn-dark" onclick="$('#tabs_2').trigger('click')">SIGUIENTE</a>
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="form-group">
                    <h2>DÍA ANTERIOR (SIN DIÁLISIS)</h2>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="rbdCabeza2">Dolor de cabeza: </label>
                            <label><input class="rb" type="radio" name="dCabeza2" id="rbdCabeza2" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="dCabeza2" id="rbdCabeza2" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbNauseas2">Nauseas: </label>
                            <label><input class="rb" type="radio" name="nauseas2" id="rbNauseas2" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="nauseas2" id="rbNauseas2" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbDormir">Problemas para dormir: </label>
                            <label><input class="rb" type="radio" name="dormir" id="rbDormir" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="dormir" id="rbDormir" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbCalambres2">Calambres musculares: </label>
                            <label><input class="rb" type="radio" name="calambres2" id="rbCalambres2" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="calambres2" id="rbCalambres2" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbArdor">Ardor/escozor en el acceso: </label>
                            <label><input class="rb" type="radio" name="ardor" id="rbArdor" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="ardor" id="rbArdor" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbEdema">Edema: </label>
                            <label><input class="rb" type="radio" name="edema" id="rbEdema" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="edema" id="rbEdema" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbHiper">Hipertensión: </label>
                            <label><input class="rb" type="radio" name="hiper" id="rbHiper" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="hiper" id="rbHiper" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbHipo">Hipotensión: </label>
                            <label><input class="rb" type="radio" name="hipo" id="rbHipo" value="si"> Si</label>
                            <label><input class="rb" type="radio" name="hipo" id="rbHipo" value="no"> No</label>
                        </div>
                        <div class="form-group">
                            <label for="rbPicor2">Picor/escozor</label>
                            <input type="radio" class="rb" name="picor2" id="rbPicor2" value="Si" />Si
                            <input type="radio" class="rb" name="picor2" id="rbPicor2" value="No" />No
                        </div>
                    </div>
                    <div>
                        <label for="txtOtros2">Otros:</label>
                        <input type="text" class="form-control" name="otros2" id="txtOtros2" />
                    </div>
                    <div class="form-group">
                        <a href="/pacienteIngresarDatos1#tabs-3" class="btn btn-dark">SIGUIENTE</a>
                    </div>
                </div>
            </div>
            <div id="tabs-3">
                <div>
                    <h2>SITUACIÓN EMOCIONAL</h2>
                    <div class="form-group">
                        <label for="rbEstres">Estres</label>
                        <input type="radio" class="rb" name="estres" id="rbEstres" value="Si" />Si
                        <input type="radio" class="rb" name="estres" id="rbEstres" value="No" />No
                    </div>
                    <div class="form-group">
                        <label for="rbDepresion">Depresion</label>
                        <input type="radio" class="rb" name="depresion" id="rbDepresion" value="Si" />Si
                        <input type="radio" class="rb" name="depresion" id="rbDepresion" value="No" />No
                    </div>
                    <div class="form-group">
                        <label for="rbAnsiedad">Ansiedad</label>
                        <input type="radio" class="rb" name="ansiedad" id="rbAnsiedad" value="Si" />Si
                        <input type="radio" class="rb" name="ansiedad" id="rbAnsiedad" value="No" />No
                    </div>
                    <div>
                        <label for="txtOtros3">Otros:</label>
                        <input type="text" class="form-control" name="otros3" id="txtOtros3" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Finalizar" class="form-control btn btn-dark"/>
                    </div>
                </fieldset>
            </div>
        </form>
      </div>
</div>