<div style="margin-left: auto; margin-right: auto;">
    <img src="/images/banner_inicio.jpg" style="width: 100%;" />
</div>
<nav class="navbar navbar-expand-lg bg-primary navbar-dark" >
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a href="#" class="nav-link text-light active">INICIO</a>
        </li>
        <li class="navbar-item">
            <a href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">ACERCA DE NOSOTROS</a>
            <div class="dropdown-menu">
                <a class="dropdown-item " href="#">MISION</a>
                <a class="dropdown-item " href="#">VISION</a>
                <a class="dropdown-item " href="#">NUESTROS VALORES</a>
            </div>
        </li>
        <li class="navbar-item">
            <a href="#" class="nav-link text-light active">ALIMENTACIÓN</a>
        </li>
        <li class="navbar-item">
            <a href="#" class="nav-link text-light active">INFORMACIÓN</a>
        </li>
        <li class="navbar-item">
            <a href="/login" class="nav-link text-light active">INICIAR SESION</a>
        </li>
    </ul>
    <% if (typeof user !== 'undefined') { %>
        <div class="text-light">
            BIENVENIDO: <%= user.username %>
        </div>
    <% } %>
</nav>
