.container {
    margin-top: 20px;
}

.rb {
    margin: 5px;
    padding: 20px;
}

#div1 {
    overflow:scroll;
    height:auto;
    width:1200px;
}
#div1 table {
   width: 1200px;
}

.col {
    background-color: cornflowerblue;
    margin: 15px;
    border-radius: 5px;
    border-color: black;
}
/* Bootstrap css */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";

/* Google Material icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";

/* Propeller css */
@import "dist/css/propeller.min.css";

/* Bootstrap datetimepicker */
@import "datetimepicker/css/bootstrap-datetimepicker.css";

/* Propeller datetimepicker */
@import "datetimepicker/css/pmd-datetimepicker.css";